body {
    background-color: pink;
}

table {
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(250, 0, 96);
    
}